@import "../../vars.css";

.container {
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 73px;
    margin-top: 60px;
    scroll-margin-top: 110px;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: var(--glass);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.title {
    color: var(--text);
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-shadow: 0 0 30px var(--glow);
    text-transform: uppercase;
    margin-bottom:40px ;
}

.projects {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

@media screen and (max-width:830px) {

    .container{
        width: 100vw;
        margin: 0px;
        margin-top: 60px;
    }
    .projects{
        
        width: 120%;
    }
}