@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 24px;
    width: 400px;
    margin-bottom: 30px;

    color: var(--text);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: var(--glass);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.image{
    margin-bottom: 26px;
    border-radius: 15px;
    width: 100%;
}

.title{
    font-size: 25px;
    font-weight: 700;
    color: var(--glow);
}

.description {
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
}

.skills{
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    list-style: none;
    
}

.skill {
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
   
    padding: 2px 22px;
    background: var(--bg-secondary);
    
}

.links {
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
}

.link{
    text-decoration: none;
    color: var(--text);
    font-size: 30px;
    font-weight: 600;
    padding: 1px 22px;
   
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #dcdcdc3f;  
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.link:hover{
    color: var(--glow);
    box-shadow: 0 0 5px 2px var(--glow);
}