@import "../../vars.css";

.container {
    scroll-margin-top: 120px;
    color: var(--color-text);
    margin-top: 20px;
    background-color: #000000f3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 100vw;
    padding: 58px 5%;
    gap: 50px;
}

.linksContainer{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    width: 40%;
    margin-bottom: 50px;
    color: var(--text);
    text-shadow: 0 0 30px var(--glow);
   
}

.text h2{
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 4px;
    
}

.text p {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}

.desktopMail {
    display: flex;
}

.mobileMail{
    display: none;
}
.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 26px;
   
}

.links a {
    text-decoration: none;
    color: var(--glow);
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.link h2 {
    color: var(--color-text);
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.link h4 {
    color: var(--color-text);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    
}

@media screen and (max-width:830px) {
    .container {
        flex-direction: column;
        gap: 15px;
        max-width: 100vw;
    }

    .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text h2{
        font-size: 60px;
    }



    .linksContainer{
        width: 100%;

    }
    

    .links {
        align-items: left;
        justify-content: center;
    }

    .links a {
        text-decoration: none;
    }

    .link h2 {
        color: var(--color-text);
        text-decoration: none;
        font-size: 35px;
        font-weight: 400;
        letter-spacing: 1.5px;
    }



    
    .mobileMail {
        display: flex;
    }
    .desktopMail {
        display: none;
    }

    
}