@import "../../vars.css";

.contact{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    ul{
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding: 10px 20px 10px 20px;
        gap: 70px;
    }

    li{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        list-style: none;
    }

    img{
        width: 50px;
    }

    a{
        text-decoration: none;
        color: var(--text);
        font-size: 20px;
        font-weight: bold;
    }

    a:hover{
        color: var(--color0);
    }

    h2{
        color: var(--text);
        font-size: 20px;
        font-weight: bold;
        margin-right: 30px;
    }


    form{
        display: flex;
        flex-direction: column;
        color: var(--color0);
        font-size: 24px;

        input{
            background-color: var(--color5);
        }

    }

}

/* MOBILE */

@media screen and (max-width:830px) {

    .contact{
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
        height: auto;

        ul{
            flex-direction: column;
            gap: 20px;
        }

        h2{
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }
}