@import "../../vars.css";
.navLink:hover{
    
    color: var(--color0) !important;
}

.language{
  
        list-style-type: none;
    color: var(--color0) !important;
  
    img{
        width: 20px;
        margin-right: 5px;
    }
    
}
.mobileNavbar{
    color: var(--color0);
    background: var(--color1);
}



/* .active{
    color:red !important;
} */
/* .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline:62px;
    margin-block: 20px;
    text-transform: uppercase;
} */

/* .title{
 font-size: 48px;
 font-weight: lighter;
 color: var(--text);
} */

/* .anchors{ */
    /* display: flex;
    flex-direction: row;

    font-weight: lighter; */

    /* list-style: none;
    font-size: 28px;
    gap: 63px; */

    /* a{
        text-decoration: none;
        color: var(--text);
    } */
/* 
    a:hover{
        color: var(--color0);
    }
} */

/* MOBILE */

/* @media screen and (max-width: 830px){

    .navbar{
        justify-content: center;
    }
    .title{
        display: none;
    }
    .anchors {
        gap: 20px;
        a{
            font-size: 14px;
            font-weight: bold;
        }
    }
} */