:root {
    /* Colours */
    --text: #fff;
    --text-secondary : #CBCBCB;
    --bg: #8f3c25;
    --bg: #023e8a;
    --bg:#29446F;
    --bg-secondary: #000000df;
    --glow: #FAB23D;
    --glow: #00b4d8;
    --glow: #357af2;


    /* Fonts */
    --font-roboto: "Roboto";
}


:root_Old {
    /* Colours */
    --color-text: #fff;
    --color-primary: #374faf;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /* Fonts */
    --font-roboto: "Roboto";
}