:root {
    /* Colours */
    --text: #d8d8d8;
    --color0: #FFCC30;
    --color1: #0F0F0F;
    --color2: #0A0A0C;
    --color3: #161616;
    --color4: #1E1E1E;
    --color5: #747272;

    /* Fonts */
    --font1: "Jura";
    --font2: "League Spartan";
}